body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.clock {
    text-align: center;
    margin-bottom: 20px;
}

.display {
    font-size: 40px;
    color: #333;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.laps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.lap-item {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}
